
* {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Header */
#header {
  background-color: violet; 
  padding: 15px;
  height: 40px;
}

h1 {
  float: left; 
}

h2 {
  float: right;
}

#back{
  color: black; 
  background-color: white;
  border: 2px solid black;
  height: 30px; 
  border-radius: 5px; 
  text-decoration: none;
  padding: 10px 20px; 
  font-weight: 100;
}

/* Main */

#main {
  padding: 20px; 
}

p {
  font-size: 30px; 
}

#userAnswer {
  width: 100%;
  height: 40px;
}

#answer {
  margin: 0px;
}


#userAnswer {
  font-size: 30px; 
}

.bottomButton{
  background-color: white;
  border: 2px solid black;
  height: 30px; 
  border-radius: 5px; 
} 

.evenSpace {
  display: flex;
  justify-content: space-around;
}

.bottomButton {
  width: 100%;  
  margin: 5px;
}

.answerButton:hover, .eL:hover, .bottomButton:hover {
  background-color: lightgray;
}

#controls {
  width: 30%
}

/* Pop-up banner */

.answer {
  padding: 15px; 
  padding-left:30px;
  padding-right: 50px;
  display: none;
  margin: 5%;
  border-radius: 10px;
  height: 12ch;
  max-width: 600px;
}

.answerButton{
  background-color: white;
  border: 2px solid black;
  height: 30px; 
  border-radius: 5px;
}

#wrong {
  background-color: red; 
}

#correct {
  background-color: #4bb361;
}

#almost {
  background-color: #dbe617;
}

.left{
  float:left;
}

.right {
  float:right; 
}

.right > p {
  font-size: 15pt;
}

/* Footer */

#footer {
  background-color: purple;
  color: white;
  padding: 30px; 
  position: absolute; 
  bottom: 0;
  width: 100%;
}

#footer p {
  text-decoration: underline;
  font-size: 15px; 
}