#header {
  background-color: violet; 
  padding: 15px;
  height: 40px;
}

* {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#footer {
  background-color: purple;
  color: white;
  padding: 30px; 
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 60px; 
}

#footer p {
  text-decoration: underline;
  font-size: 15px; 
}

h1 {
  float: left; 
}

h2 {
  float: right;
}

#answer {
  margin: 0px;
}

p {
  font-size: 30px; 
}

.evenSpace {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%; 
  height: 80%; 
  border-spacing: 10px;
}

a {
  font-size: 4vw; 
  border: 6px solid rgb(255, 192, 230); 
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}

#main a {
  column-width: auto;
  height: 70px; 
}

#main {
  padding: 20px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}